body {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/6/6e/Eugene_Isabey_-_2011_S1.jpg");
  background-size: 1920px 1080px;;
}

.App {
  font-size: 300px;
  font-family: 'Times New Roman', Times, serif;
  color: white;
  text-align: center;
}