body {
  background-image: url("https://wallpapers.com/images/featured/ocean-q6hcv0tf71scmhxo.jpg");
  background-size: 1920px 1080px;;
}

.App {
  font-size: 300px;
  color: white;
  text-align: center;
}